footer {
  background-color: #f8f8f8;
}

footer:before {
  content: "";
  position: absolute;
  width: 30%;

  z-index: -1;

  background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/vegetable/footer-shape.png);
  background-repeat: no-repeat;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
}

.service-box {
  width: 50%;
  display: flex;
  padding-top: 2rem;
  position: relative;
}

.service-box img {
  width: 39px;
  height: 39px;
  margin-right: 2rem;
}

.service-box:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 46px;
  transform: translateY(-50%);
  height: 50%;
  left: -7%;
  border: 1px dashed #c1c1c1;
}

service-img h5 {
  padding: 10px;
  font-size: 15px;
}

.main-footer {
  padding: 2rem 0 2rem 0;
  border-top: 1px dashed #c1c1c1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
li {
  list-style: none;
}

.logo-container {
  width: 25%;
}

.logo-conent li,
.footer-content-col5 li {
  display: flex;
}

.footer-title h5 {
  font-size: 19px;
}

footer li,
.logo-container > p {
  margin-top: 1rem;
}

footer svg {
  margin-right: 10px;
}

.footer-content-col5 li {
  position: relative;
}
.footer-content-col5 li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 5px;
  width: calc(100% - 20px);
  border-bottom: 1px dashed #c1c1c1;
}
